body {
   font-family: Arial, sans-serif;
   margin: 50px;
}

.toast {
   visibility: hidden; /* Başlangıçta görünmez */
   min-width: 250px; /* Minimum genişlik */
   margin-left: -125px; /* Merkeze almak için negatif margin */
   background-color: #333; /* Arka plan rengi */
   color: #fff; /* Yazı rengi */
   text-align: center; /* Yazı ortalama */
   border-radius: 2px; /* Kenar yuvarlama */
   padding: 16px; /* İçerik boşluğu */
   position: fixed; /* Sabit konum */
   z-index: 1; /* Üstte görünmesi için */
   left: 50%; /* Sol kenarı ortala */
   bottom: 30px; /* Alt kenardan uzaklık */
   font-size: 17px; /* Yazı boyutu */
}

   .toast.show {
      visibility: visible; /* Gösterim için görünür hale getir */
      animation: fadein 0.5s, fadeout 0.5s 2.5s; /* Fade in ve fade out animasyonları */
   }

@keyframes fadein {
   from {
      bottom: 0;
      opacity: 0;
   }
   /* İlk durumda alt konum ve saydamlık */
   to {
      bottom: 30px;
      opacity: 1;
   }
   /* Son durumda alt konum ve tam opaklık */
}

@keyframes fadeout {
   from {
      bottom: 30px;
      opacity: 1;
   }
   /* İlk durumda alt konum ve tam opaklık */
   to {
      bottom: 0;
      opacity: 0;
   }
   /* Son durumda alt konum ve saydamlık */
}
