
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="display:flex;justify-content:center;align-items:center;margin-top:20%"><h1 >Hoşgeldiniz @ViewBag.user </h1></div>


