<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_LayoutHeadComponentPartial")

<body class="index-page">

   <header id="header" class="header d-flex align-items-center sticky-top">
      <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

         <a href="Index" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1 class="sitename">Ercan ŞAHİN.</h1>
         </a>

         <nav id="navmenu" class="navmenu">
            <ul>
               <li><a href="/Home/Index" class="active">Anasayfa</a></li>
               <li><a href="/Home/About">Hakkımda</a></li>
               <li><a href="/Home/Services">Hizmetler</a></li>
               <li><a href="/Home/Portfolio">Portfolio</a></li>
               <li><a href="/Home/Team">Takım</a></li>
               <li><a href="/Home/Blog">Blog</a></li>
               @* <li class="dropdown">
                  <a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                  <ul>
                     <li><a href="#">Dropdown 1</a></li>
                     <li class="dropdown">
                        <a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                           <li><a href="#">Deep Dropdown 1</a></li>
                           <li><a href="#">Deep Dropdown 2</a></li>
                           <li><a href="#">Deep Dropdown 3</a></li>
                           <li><a href="#">Deep Dropdown 4</a></li>
                           <li><a href="#">Deep Dropdown 5</a></li>
                        </ul>
                     </li>
                     <li><a href="#">Dropdown 2</a></li>
                     <li><a href="#">Dropdown 3</a></li>
                     <li><a href="#">Dropdown 4</a></li>
                  </ul>
               </li> *@
               <li><a href="~/tema/contact.html">İletişim</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
         </nav>

      </div>
   </header>

  @RenderBody()

   <footer id="footer" class="footer light-background">
      <div class="container">
         <div class="row g-4">
            <div class="col-md-3 col-lg-3 mb-3 mb-md-0">
               <div class="widget">
                  <h3 class="widget-heading">Hakkımda</h3>
                  <p class="mb-4">
                    Daha fazla bilgi için,
                  </p>
                  <p class="mb-0">
                     <a href="#Welcome" class="btn-learn-more">Tıklayınız</a>
                  </p>
               </div>
            </div>
            <div class="col-md-12 col-lg-3 pl-lg-5">
               <div class="widget">
                  <h3 class="widget-heading">Son Yazılarım</h3>
                  <ul class="list-unstyled footer-blog-entry">
                     <li>
                        <span class="d-block date">May 3, 2020</span>
                        <a href="#">Mediumdaki Yazılarım</a>
                     </li>
                     <li>
                        <span class="d-block date">May 3, 2020</span>
                        <a href="#">Makaleler</a>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="col-md-12 col-lg-6 pl-lg-5">
               <div class="widget">
                  <h3 class="widget-heading">Bağlan</h3>
                  <ul class="list-unstyled social-icons light mb-3">
                     <li>
                        <a href="#"><span class="bi bi-facebook"></span></a>
                     </li>
                     <li>
                        <a href="#"><span class="bi bi-twitter-x"></span></a>
                     </li>
                     <li>
                        <a href="#"><span class="bi bi-linkedin"></span></a>
                     </li>
                     <li>
                        <a href="#"><span class="bi bi-google"></span></a>
                     </li>
                     <li>
                        <a href="#"><span class="bi bi-google-play"></span></a>
                     </li>
                  </ul>
               </div>

               <div class="widget">
                  <div class="footer-subscribe">
                     <h3 class="widget-heading">Abone Ol</h3>
                     <form action="~/tema/forms/newsletter.php" method="post" class="php-email-form">
                        <div class="mb-2">
                           <input type="text" class="form-control" name="email" placeholder="E-Mail Adresiniz...">

                           <button type="submit" class="btn btn-link">
                              <span class="bi bi-arrow-right"></span>
                           </button>
                        </div>
                        <div class="loading">Yükleniyor</div>
                        <div class="error-message"></div>
                        <div class="sent-message">
                           Tebrikler :)
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>

         <div class="copyright d-flex flex-column flex-md-row align-items-center justify-content-md-between">
            <p>© <span>Copyright</span> <strong class="px-1 sitename">esahin❤️</strong> <span></span></p>
            <div class="credits">
               <!-- All the links in the footer should remain intact. -->
               <!-- You can delete the links only if you've purchased the pro version. -->
               <!-- Licensing information: https://bootstrapmade.com/license/ -->
               <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
               Designed by <a href="https://bootstrapmade.com/">esahin</a>
            </div>
         </div>
      </div>
   </footer>
   <div id="preloader"></div>
   @await Component.InvokeAsync("_LayoutScriptsComponentPartial")

</body>

</html>